    
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    overflow-x: hidden;
      }
      #map {
        height: 100%;
      }
      .controls {
        margin-top: 30px; 
        border: 1px solid transparent;
        border-radius: 20px 0px 0px 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 45px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      .controls2 {
        margin-top: 30px; 
        border: 1px solid transparent;
        border-radius: 0px 20px 20px 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 45px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      #rb4{
        margin-top: 0px;
        height: 25px;
        border :0px;
        border-radius: 20px 20px 20px 20px;
        padding: 0 4px 0 4px;
      }
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 50px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 350px;
      }
      #pac-input2 {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 0px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 350px;
      }
      #pac-input:focus {
        border-color: #4d90fe;
      }
      #pac-input2:focus {
        border-color: #4d90fe;
      }
      .pac-container {
        font-family: Roboto;
      }
      #radio-button-form {
        height: 100px;
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 30%;
        padding: 0 4px 0 4px;
        
      }
      p {
        margin-top: 0px;
        height: 20px;
        padding: 0 4px 0 4px;
        margin-bottom: 5px;
      }
      .rb {
        margin-top: 30px; 
        border: 1px solid transparent;
        border-radius: 20px 20px 20px 20px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      #rb1 {
        border-radius: 20px 20px 20px 20px;
        margin-top: 0px;
        background-color: #FFFF00;
      }
      #rb2 {
        border-radius: 20px 20px 20px 20px;
        background-color: #0000FF;
        
      }
      #rb3 {
        border-radius: 20px 20px 20px 20px;
        background-color: #FF00FF;
        
      }